body {
	background-color: #555;
	text-align: center;
	margin-top: 30px;
}

#phaser {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -480px;
	box-shadow: 2px 2px 8px #2A2A2A;
	background-color: black;
}

#legend {
	width: 600px;
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -300px;
}

#phaser-form {
/*	display: none;*/
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute;
	font-family: 'Paytone One', sans-serif;
}

#about {
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -150px;
	width: 300px;
}

#about-modal {
	text-align: left;
	padding-top: 50px;
}

.game-panel {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px 20px;
	font-size: 40px;
	position: absolute;
	width: 500px;
	margin-left: -250px;
	margin-top: -140px;
}
.game-panel-top {
	margin-top: -250px;
}
.game-panel-bottom {
	margin-top: 70px;
}

.game-message {
	position: absolute;
	font-size: 100px;
	width: 500px;
	margin-left: -250px;
	margin-top: -175px;
}

.game-hint {
	font-size: 15px;
	color: #476;
	line-height: 20px;
	display: block;
}

.game-key {
	background: url('../img/UI/key.png');
	width: 64px;
	height: 64px;
	display: inline-block;
	vertical-align: middle;
	padding: 5px 0;
	text-align: center;
	color: white;
	font-size: 30px;
	font-family: sans-serif;
	transform: rotate(-5deg);
}

.game-key-small {
	background: url('../img/UI/keysmall.png');
	width: 32px;
	height: 32px;
	padding: 3px 0;
	font-size: 20px;
	line-height: 20px;
}

.help-character-1 .help-character-img{
	margin: 40px;
}
.help-character-1 .help-character-img img{
	padding-right: 100px;
}

.help-character-2 .help-character-img{
	margin: 30px 40px;
}
.help-character-2 .help-character-help{
	font-size: 25px;
}

.help-character-3 .help-character-img{
	margin: 22px;
}
.help-character-3 .help-character-img img{
	padding-right: 80px;
}

.help-character-4 .help-character-img{
    margin: 11px 0px;
}
.help-character-4 .help-character-img img{
	padding-right: 70px;
}