<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Robot Forest - Ludum Dare 36</title>

    <link href='https://fonts.googleapis.com/css?family=Paytone+One' rel='stylesheet' type='text/css' />
    <link rel="icon" type="image/png" href="/favicon.png">
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="about-modal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title">About the game</h2>
          </div>
          <div class="modal-body">
            <p>Robot Forest was made in 72 hours for the 36th <a href="http://www.ludumdare.com/compo">Ludum Dare</a> game jam (August 2016).</p>

            <h4>Links</h4>
            <ul>
            <li><a href="http://ludumdare.com/compo/ludum-dare-36/?action=preview&uid=112214">Ludum Dare entry page</a></li>
            <li><a href="https://bitbucket.org/Thrainsa/ludum-dare-36">Sources on BitBucket</a></li>
            </ul>

            <h4>The Team</h4>
            <ul>
				<li><b>Manu</b>: Programming, game design</li>
				<li><b>Prohibé </b>: Art, game design</li>
				<li><b>Kay Lo  </b>: Audio</li>
            </ul>

            <h4>Under the hood</h4>
            <p><b>Powered by <a href="http://www.phaser.io">Phaser.js</a>!</b> Other libraries and tools include TilEd, RequireJS, jStorage and Bootstrap.</p>

            <h4>Licensing</h4>
            <p>All our assets and code were made during the jam. We have yet to choose a license for them, until then all rights are reserved.</p>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
        </div>
      </div>
    </div>

    <div id="phaser"> </div>
	<div id="phaser-form"></div>
<div id="about"><input type="button" class="btn" value="About the game..."  data-toggle="modal" data-target="#about-modal" /></div>
	
	<script type="text/template" id="menu">
	   <div class="game-panel" style="margin-left: -430px; margin-top: -30px;">
		 <span class="game-key" style="margin-bottom: 20px; margin-top: 20px">&#x21E7;</span> Start new game</span><br />
		 <span class="game-key" style="margin-bottom: 20px; margin-top: 20px">&#x21E9;</span> Continue game</span><br />
	   </div>
	   <div class="game-panel" style="margin-top: -30px; margin-left: 100px; width: 330px; font-size: 18px">
		 <u>Current game</u><br />
		 <table>
			<% if (typeof savedGame !== 'undefined' && typeof savedGame.level !== 'undefined') { %>
				<tr><td style="width: 170px">Current zone</td><td style="width: 100px"><%= savedGame.level %></td></tr>
				<tr><td>Energy</td><td><%= savedGame.points %> / 100</td></tr>
				<tr><td>Hidden levels found</td><td><%= savedGame.hiddenVisited.length %> / 2</td></tr>
			<% } else print('None') %>
			</table>
	   </div>
	</script>
	
	<script type="text/template" id="cutscene">
		<div id="text" class="game-panel" style="margin-top: 190px; font-size: 23px; width: 700px; margin-left: -350px">
		</div>
	</script>

	<script type="text/template" id="pause">
		<div id="text" class="game-panel" style="margin-top: 190px; font-size: 23px; width: 700px; margin-left: -350px">
			PAUSE
		</div>
	</script>	

	<!-- <script type="text/javascript" src="js/lib/phaser.min.js"></script> !-->
    <script type="text/javascript" src="js/lib/require.js" data-main="js/engine/init"></script>

	<script type="text/shader" id="water-shader">
		precision mediump float;

		varying vec2 vTextureCoord;
		uniform sampler2D uSampler;
		uniform float time;
		uniform vec2 mouse;
		uniform vec2 resolution;
		varying vec2 surfacePosition;

		#define MAX_ITER 8
		void main( void ) {
			vec4 referenceColor = vec4(0./255., 250./255., 0./255., 1.);
			vec4 initialColor = texture2D(uSampler, vTextureCoord);
			if (distance(referenceColor, initialColor) < .02) {
				vec2 sp = vTextureCoord;//vec2(.4, .7);
				vec2 p = sp*8.0 - vec2(10.0);
				vec2 i = p * 15.;
				float c = 1.0;
				float inten = .1;

				for (int n = 0; n < MAX_ITER; n++) 
				{
					float t = time * (1.0 - (3.0 / float(n+1))) / 6.;
					i = p + vec2(cos(t - i.x) + sin(t + i.y), sin(t - i.y - i.x * .5) + cos(t + i.x + i.y /2.));
					c += 1.0/length(vec2(p.x / (sin(i.x*i.x/4.+t)/inten),p.y / (cos((i.y-i.x)* 1.5+t)/inten)));
				}
				c /= float(MAX_ITER);
				c = 1.5-sqrt(c);
				gl_FragColor = vec4(vec3(c*c*c*c*c)/4., 1.0) + vec4(0.0, 0.65, 0.15, 1.0);
			}
			else {
				gl_FragColor = texture2D(uSampler, vTextureCoord);
			}
		}
	</script>
	
	<script type="text/shader" id="boss-shader">
		precision mediump float;

		varying vec2 vTextureCoord;
		uniform sampler2D uSampler;
		uniform float time;
		uniform vec2 mouse;
		uniform vec2 resolution;
		varying vec2 surfacePosition;

		#define MAX_ITER 8
		void main( void ) {
			vec4 initialColor = texture2D(uSampler, vTextureCoord);
			vec4 referenceColor1 = vec4(100./255., 100./255., 100./255., 1.);
			
			if (distance(referenceColor1, initialColor) < .6) {
				vec4 initialColor = texture2D(uSampler, vTextureCoord);
				initialColor.rgb *= 0.8*initialColor.rgb ;
				gl_FragColor = initialColor ;
			} else {
				gl_FragColor = initialColor;
			}
		}
	</script>
	
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-64453249-3', 'auto');
	  ga('send', 'pageview');

	</script>
</body>
</html>
